<div class="container">
  <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="https://magusconjurer.github.io/portfolio.html">Return to Portfolio</a>
  </nav>
  <h1>News from Space</h1>
</div>